.grid-journal {
  thead {
    th {
      font-weight: 500;
      color: #A0A0A0;
      cursor: pointer;
      text-align: left;
    }
  }
  tbody {
    td {
      
    }
  }
}
.padding-top-10 {
  padding-top: 1vh;
}
.journal-td {
  width: 400px;
}